.content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 11.4rem 1fr;
  grid-template-areas: 
  "header header"
  "ilustration content";
}
header {
  grid-area: header;
}
#ilustration {
  grid-area: ilustration;
  background: url(../assets/home-ilustration.svg) top/contain no-repeat;
  height: 100%;
  background-position-x: -5rem;
  position: relative;
}
#ilustration .ball {
  background: var(--blue);
  opacity: 10%;
  position: fixed;
}
.ball.top {
  width: 57rem;
  height: 57rem;
  border-radius: 50%;
  top: -39rem;
  left: 122rem;
}
.ball.bottom {
  width: 21rem;
  height: 21rem;
  border-radius: 50%;
  top: 75.6rem;
  left: 117.2rem;
}
main {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .container {
  width: min(36.3rem, 90%);
  margin-top: -7rem;
}
h2 {
  color: var(--dark-blue);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: clamp(20px, 5vw, 2.8rem);
  margin-bottom: 2.4rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#room-id {
  width: 100%;
  padding: 1.3rem 1.5rem;
  border: 0.2rem  solid var(--grey-blue);
  border-radius: 0.8rem;
  margin-bottom: 1.8rem;
}
#room-id::placeholder {
  color: var(--grey-blue);
}
#room-id:focus {
  outline-color: var(--blue);
}
#enter-room {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: var(--white);
  line-height: 2.4rem;
  padding: 1.3rem 0;
  border-radius: 0.8rem;
  background: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  transition: background 0.2s ease;
}
#enter-room:hover {
  background: var(--hover-blue);
}
.separator {
  display: flex;
  align-items: center;
  margin-block: 4rem;
  width: 100%;
}
.separator div:nth-child(1) {
  background: var(--grey-blue);
  width: 100%;
  height: 0.1rem;
}
.separator div:nth-child(2) {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--grey-blue);
  padding: 0 1.3rem;
  line-height: 2.4rem;
}
.separator div:nth-child(3) {
  background: var(--grey-blue);
  width: 100%;
  height: 0.1rem;
}

#create-room {
  width: 100%;
  border-radius: 0.8rem;
  background: var(--white);
  border: 0.2rem solid var(--blue);
  transition: all 0.2s ease;
}
#create-room:hover {
  background: var(--blue);
}
#create-room:hover svg path {
  stroke: var(--white);
}
#create-room:hover a {
  color: var(--white);
}
#create-room a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 0;
  gap: 1rem;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: var(--blue);
}