<html>
  <head>
    <title>Senha Incorreta</title>
    <body>
      <script>
        confirm('Senha incorreta')
        window.location.replace("/room/<%= roomId %>")
      </script>
    </body>
  </head>
</html>