.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(4, 9, 17, 0.8);
  display: flex;
  visibility: hidden;
  opacity: 0;
}
.modal-wrapper.active {
  visibility: visible;
  opacity: 1;
}
.modal-wrapper .modal {
  width: min(59rem, 90%);
  background: var(--white);
  margin: auto;
  border-radius: 0.8rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 6.4rem 8.6rem;
}
.modal-wrapper .modal h2 {
  color: var(--dark-blue);
  line-height: 34px;
}
.modal-wrapper .modal p {
  color: var(--dark-grey);
  line-height: 26px;
  margin-top: 1.1rem;
  margin-bottom: 2.5rem;
}
.modal-wrapper .modal input {
  margin-bottom: 4rem;
  width: min(30.2rem, 100%);
}
.modal .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.modal .buttons .button-change {
  background: var(--blue);
  font-family: 'Poppins',sans-serif;
  font-weight: 500;
  color: var(--white);
  padding: 1.1rem 3.2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background 0.1s ease;
}
.modal .buttons .button-change:hover {
  background: var(--hover-blue);
}
.modal .buttons .button-change.red {
  background: var(--red);
}
.modal .buttons .button-change.red:hover {
  background: var(--hover-red);
}